{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Задай вопрос и получи ответ!! {% endblock %}</title>
  <link href="{% static "qa.css" %}" rel="stylesheet">
</head>
<body>
  <header>
    <h1 class="logo"><a href="/">Спроси меня! </a></h1>
    <h2 class="slogan">Есть вопрос? Спроси меня.</h2>
  </header>
  <div class="wrapper">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="sidebar">
      {% block sidebar %}
        <h2>Меню</h2>
        <p><a href="/">Главная</a></p>
        <p><a href="/popular/">Популярные вопросы</a></p>
        <p><a href="/ask/">Задать вопрос</a></p>
        <p><a href="/login/">Войти</a></p>
        <p><a href="/signup/">Зарегистрироватся</a></p>
        <p><a href="/logout/">Выйти</a></p>
      {% endblock %}
    </div>
  </div>
  <div class="clear"></div>
  <footer>

    <p class="copy">
      Copyleft 2016. Powered by Django
    </p>
  </footer>
</body>
</html>