{% extends "base.html" %}

{% block title %}{# {{ Questions.title }} #} Детално с ответами {% endblock %}

{% block content %}
<h1>{{ Questions.title }}</h1>

<p class="submit">
    Вопрос задан {{ Question.added_at }}  {{ Question.author }}
</p>

{{ Question.text|linebreaks }}

  {%block answers %}
    <h2> Ответ: </h2>
     {% for answer in list_answer %}
     <div class="answer">
        <p class="info">
         Ответ от {{ answer.author }} [{{ answer.added_at }}]
        </p>
         {{ answer.text|linebreaks }}
     </div>
     {% empty %}
     <p>На данный вопрос нет ответа</p>
     {% endfor %}
  {% endblock %}

{% block question_ask %}
   <h1> Ваш ответ: </h1>
  {% for e in form.non_field_errors %}
    <div class="alert"> {{ e }} </div>
  {% endfor %}
    <div class="form">
        <form method="post" action="/answer/">
            {% csrf_token %}
            {% for field in form %}
               <div class="form-field" {% if field.errors %} alert{% endif %}>
                   {{ field }}
                   {{ field.errors }}
               </div>
            {% endfor %}
            <button type="submit" class="btn">Добавить ответ</button>
        </form>
    </div>
{% endblock %}
{% endblock %}