{% extends "base.html" %}

{% block title %}{# {{ Questions.title }} #} Детално с ответами {% endblock %}

{% block content %}
<h1>{{ Questions.title }}</h1>

<p class="submit">
    Вопрос задан {{ Question.added_at }}  {{ Question.author }}
</p>

{{ Question.text|linebreaks }}

  {%block answers %}
    <h2> Ответ: </h2>
     {% for answer in list_answer %}
     <div class="answer">
        <p class="info">
         Ответ от {{ answer.author }} [{{ answer.added_at }}]
        </p>
         {{ answer.text|linebreaks }}
     </div>
     {% empty %}
     <p>На данный вопрос нет ответа</p>
     {% endfor %}
  {% endblock %}
{% endblock %}